:root {
    --dark-color: #232323;
    --light-color: #F2F7FA;
    --accent-color: #0072C6;
}

/* Default Styling */

::selection {
    color: var(--accent-color);
    background: var(--light-color);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Noto Sans JP', 'Roboto', sans-serif;   
}

body {
    background-color: var(--dark-color);
}

li, p, h1, h2, h3, h4, h5, h6 {
    color: var(--light-color);
    text-decoration: none;
}

h1 {
    font-size: 2.75rem;
}

h2 {
    font-size: 2.25rem;
}
h3 {
    font-size: 1.75rem;
}
h4 {
    font-size: 1.25rem;
}

p {
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: var(--light-color);
}


/* Helper classes */

.centered-text {
    text-align: center;
}


.colored-text {
    color: var(--accent-color);
}

/* Nav Styling */

.selected-nav {
    color: var(--accent-color);
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;   
    height: 8vh;
    background-color: var(--dark-color);
}

nav h2 {
    padding-left: 2em;
}

nav ul {
    display: flex;
    flex-direction: row;
    padding-right: 10em;
}

nav ul li {
    padding: 1em 3em;
    font-size: 1.2em;
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;

}

nav ul li a {
	transition: 0.25s;
}

nav ul li a:hover {
    color: var(--accent-color);
}

/* Main body Styling */
#main-image {
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    object-fit: fill;
    z-index: -1;
}


@media (width < 1700px) {
    nav h2 {
        padding-left: 1em;
        
    }

    nav ul {
        padding-right: 1em;
    }
}

@media (width < 1300px) {

    nav ul li {
        padding: 1em 2em;
    }
}

@media (width < 1080px) {

    nav ul {
        margin: 0 auto;
    }

    nav h2 {
        display: none;
    }
}

@media (width < 800px) {

}